@charset "UTF-8";
/* CSS Document */
@charset "UTF-8";
#response {
	text-align: center;
	border-collapse: collapse;
	border: 3px solid #2B2B88;
}
#response p {
	text-align: left;
}
#response th {
	background-color: rgba(43,43,136,1.00);
	color: rgba(255,255,255,1.00);
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 15px;
	padding-left: 8px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	border: 1px solid #2B2B88;
}
#response td {
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 15px;
	padding-left: 8px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	border: 1px solid #2B2B88;
}
#response tr:nth-child(even) {
	background-color: #FFFFFF;
	background-color: rgba(43,43,136,0.30);
}
#response td:nth-child(1) {
	width: 5%
}
#response td:nth-child(2) {
	width: 5%
}
#response td:nth-child(3) {
	width: 9%
}
#response td:nth-child(4) {
	width: 22%
}
#response td:nth-child(5) {
	width: 22%
}
#response td:nth-child(6) {
	width: 22%
}
.pagination {
	display: block;
	padding-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
}
